<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class = "home home-left">
				<h4><a class= "darklink" href="projects"> My Projects </a></h4>
					<% @projects.each do |project| %>
					<a href= "projects/<%= project.id%>"> &nbsp;[+]	<%= project.name %><br /></a>
					<% end %>
			</div>
		</div>
		<div class="span6">
			<div class = "home home-ctr">
				<h4> My Upcoming Tasks </h4>
			</div>
		</div>
		<div class="span3">
			<div class = "home home-rt">
				<h4> Suggested Projects </h4>
			</div>
			<div class = "home home-rt-2">
				<h4> My Skill Ratings </h4>
			</div>
		</div>
	</div>
</div>

