<h1 style = "color:orange"> About </h1>
<br />
<div class="well">
	<p style="color:orange">
		<%= link_to "Orange", root_path , class: "aboutlnk" %>
		is a project to revolutionize project scheduling. Using a crowd-sourcing mentality, users first create a profile which has their relative skills and proficiencies. Then, they are notified if projects matching their skills arise. Projects can be created in "group" visibility or in "global" visibility, and users can also choose to be notified of their relevant groups or of all relevant projects.
	</p>
</div>