<div class="hero-unit" style="background: url(<%= asset_path 'bigorange.jpg'%>) no-repeat;" >
	<div class="well">
	<h1> Hello! </h1>
	<p>
		Some random text here KthxBai
		<br/>
		More text here
	<!--
	</p>
	</div>
	<p>
	-->
		<br/>
		<br/>
		<%= link_to "Get Started!", root_path, class: "btn btn-primary btn-large" %>
	</p>
	</div>
</div>