<div class="hero-unit" style="background: url(<%= asset_path 'bigorange.jpg'%>) no-repeat;" >
	<div class="container-fluid">
	<div class="span3 well">
	<h1> Hello! </h1>
	<p>
		Some random text here KthxBai
		<br/>
		More text here

		<br/>
		<br/>
		<%= link_to "Get Started!", root_path, class: "btn btn-primary btn-large" %>
	</p>
	<br />
	</div>
</div>
</div>