$orange1: #ffb273;
$orange2: #ff9640;
$orange3: #ff7400;
$orange4: #bf7130;
$orange5: #a64b00;

$navbarBackgroundHighlight: white;
$navbarBackground: white;
$navbarText: $orange3;
$navbarBrandColor: $orange1;
$navbarLinkColor: $orange3;
$navbarLinkColorHover: white;
$navbarLinkColorActive: white;
$navbarLinkBackgroundHover: $orange1;
$navbarLinkBackgroundActive: $orange1;

$btnPrimaryBackground: white;

@import 'bootstrap';

body{
	padding-top: 60px;
}

/* responsive functionality must be added after padding so we don't have 60px in 
	 resp mode. Weird header behavior if added after.
*/

@import 'bootstrap-responsive';

a{
	text-shadow: none !important;
	color: $orange1;
}

a:hover
{
	background-color: transparent;
}

.home a{
	text-decoration: none;
	color: black;
}

.home a:hover{
	color: orange;
}

.navbar-inner{
	border: 0;
	@include box-shadow(none !important);
}

.nav{
	position:relative;
	li:hover{
		background-color: $orange1;
		a:hover{
			background-color: transparent;
		}
	}
}

h4{
	text-align: center;
	padding-bottom: 5px;
	border-bottom: 1px solid;
}

.home-left{
	border-top: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
	border-bottom: 1px solid;
	padding-bottom:5px;
}

.home-ctr{
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

.home-rt{
	border-top: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

.home-rt-2{
	border-top: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

.navoffset	{
		position: relative;
		top: 10px;
}

.fleximg{
	max-width: 100%;
}

.hero-unit{
	h1{
		position: relative;
		color: $orange3;
	}
}
.hero-unit{

	.well{
		box-sizing: border-box;
		background-color: rgb(10%, 10%, 10%);
		background-color: rgba(100%, 100%, 100%, 0.6);
		color: $orange4;
		border: 0;
		margin-bottom: 0px;
		padding: 10px;
	}
	.row{
		margin-left: 10px;
	}
}

.btn-large{
	color: $orange1;
	background-color: rgba(100%, 100%, 100%, 0.6);
	font-weight: bold;
}

.aboutlnk{
	color: $orange3;
}

.footer{
	margin-top: 50px;
	color: $orange1;
	a{
		color: $orange3;
	}
}

@import url('custombtn.css');
