$orange1: #ffb273;
$orange2: #ff9640;
$orange3: #ff7400;
$orange4: #bf7130;
$orange5: #a64b00;

$navbarBackgroundHighlight: white;
$navbarBackground: white;
$navbarText: $orange3;
$navbarBrandColor: $orange1;
$navbarLinkColor: $orange3;
$navbarLinkColorHover: white;
$navbarLinkColorActive: white;
$navbarLinkBackgroundHover: $orange1;
$navbarLinkBackgroundActive: $orange1;

@import 'bootstrap';

body{
	padding-top: 60px;
}

/* responsive functionality must be added after padding so we don't have 60px in 
	 resp mode. Weird header behavior if added after.
*/

@import 'bootstrap-responsive';

a{
	text-shadow: none !important;
}

.navbar-inner{
	border: 0;
	@include box-shadow(none !important);
}

.nav{
	position:relative;
	li:hover{
		background-color: $orange1;
		a:hover{
			background-color: transparent;
		}
	}
}

.navoffset	{
		position: relative;
		top: 10px;
}

.fleximg{
	max-width: 100%;
}

.hero-unit{
	h1{
		position: relative;
		color: $orange3;
	}
}

.well{
	background-color: rgb(10%, 10%, 10%);
	background-color: rgba(100%, 100%, 100%, 0.6);
	color: $orange4;
	border: 0;
}

